
img {
    width: 200px;
    height: 150px;
    
}


.character  {
    background-color: white; 
    border: green;    
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 3px;
}

div p, #gametitle {
    text-align: center;

}

.enemy {
    background-color: red;
    border: black;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 3px;
}

.waiting {
    background-color: red;
    border: slategrey;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 3px;

}
